QSplitterHandle{ 
    background-color: #DDD;
}

/*
QMenuBar::item{
    background-color: #FFF;
    color: #000;
}


QMenuBar::item:hover{
    background-color: #0F0;
}

QMenuBar::item:selected {
    background-color: #F00;
}

QMenuBar::item:pressed{
    background-color: #F0F;
}


QMenuBar::item:checked {
    background-color: #F00
}
*/